body {
    background-color: #cad2c5;
	color: #2f3e46;
}

.box-navegacao {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

nav {
	position: relative;
    padding: 10px;
    width: 100%;
}

nav li {
	display: inline;
	margin:  0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #2f3e46;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

banner {
	width: 100%;
}

section {
	padding: 3em 0;
	width: 1060px;
	margin: 0 auto;
    border-bottom: 1px solid #000000	
}

.avatar {
	width: 240px;
	float: left;
	margin: 0 20px 0 20px;
}

h1 {
    font-size: 28px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

h3, p {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

.alt-cor {
	background-color: #84a98c;
}

footer p {
	text-align: center;
}