body {
    background-color: #e0e1dd;
	color: #0d1b2a;
	font-family: 'Roboto', sans-serif;
}

.box-navegacao {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

nav {
	position: relative;
    padding: 10px;
    width: 100%;
}

nav li {
	display: inline;
	margin:  0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #0d1b2a;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

banner {
	width: 100%;
}

section {
	padding: 3em 0;
	width: 1060px;
	margin: 0 auto;
    border-bottom: 1px solid #000000	
}

.avatar {
	width: 240px;
	float: left;
	margin: 0 20px 0 20px;
}

h1 {
    font-size: 28px;
    text-align: center;
	font-weight: bold;

}

h2 {
    font-size: 24px;
	color: #1b263b;
	text-decoration: underline;
	margin-top: 50px;
}

h3, p {
    font-size: 20px;
	color: #1b263b;
}

h4 {
    font-size: 16px;
	color: #1b263b;
}

section li {
	color: #415a77;
	margin-bottom: 5px;
}

.alt-cor {
	background-color: #778da9;
}

.skill-bar {
	width: 100%; 
  	background-color: #bcbcbc; 
}

.skills {
	text-align: right;
	padding-top: 10px; 
	padding-bottom: 10px; 
	color: white; 
	padding-right: 5px;
  }

.python {width: 60%; background-color: #778da9;} 
.html {width: 80%; background-color: #778da9;} 
.css {width: 55%; background-color: #778da9;} 
.js {width: 50%; background-color: #778da9;} 
.git {width: 80%; background-color: #778da9;} 
.scrum {width: 90%; background-color: #778da9;} 
.kanban {width: 85%; background-color: #778da9;} 

footer p {
	text-align: center;
	color: #415a77;
}